@inherits Umbraco.Web.Macros.PartialViewMacroPage



@{
	var selection = CurrentPage.Site().Children.Where("Visible");
}

	 @foreach (var item in selection)
        {
            <li class="@(item.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                <a href="@item.Url">@item.Name</a>
            </li>
        }


	
	
	
	
@* 
//Navigation with children of menu items printed in the nav

@{ var selection = CurrentPage.Children.Where("Visible"); }

@if (selection.Any())
{
    	
        foreach (var item in selection)
        {
            <li class="@(item.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                <a href="@item.Url">@item.Name</a>
            </li>
        }
}
*@