@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); }
@* OrderBy() takes the property to sort by and optionally order desc/asc *@

@{var idea = false;}
    @foreach (var item in selection)
    {
		if(item.projectStatus=="Idea" ){
			if(idea==false){
			 	idea = true;
				<h1 class="text-center">Projects with status: Idea</h1>}
        <div class="projects">
			<h2 class="text-center">@item.projectName</h2>
			<p>@item.projectContent</p>
		</div>
		<hr/>

		}
    }

@{var initiated = false;}
    @foreach (var item in selection)
    {
		if(item.projectStatus=="Initiated" ){
			if(initiated== false){
			 	initiated = true;
			 	<h1 class="text-center">Projects with status: Initiated</h1>}
        <div class="projects">
        	<h2 class="text-center">@item.projectName</h2>
			<p>@item.projectContent</p>
		</div>
	<hr/>

		}
    }

@{var development = false;}
    @foreach (var item in selection)
    {
		if(item.projectStatus=="Under Development" ){
			if(development== false){
			 	development = true;
			 	<h1 class="text-center">Projects with status: Under Development</h1>}
        <div class="projects">
      		<h2 class="text-center">@item.projectName</h2>
			<p>@item.projectContent</p>
		</div>
						<hr/>

		}
    }

@{var completed = false;}
    @foreach (var item in selection)
    {
		if(item.projectStatus=="Completed" ){
			if(completed== false){
			 	completed = true;
			 	<h1 class="text-center">Projects with status: Completed</h1>}
        <div class="projects">
        	<h2 class="text-center">@item.projectName</h2>
			<p>@item.projectContent</p>
		</div>
						<hr/>

		}
    }
